# Jekyll build
_site
# Cache file from Jekyll
.jekyll-metadata
.jekyll-cache
# Cache folder from Sass
.sass-cache
# npm packages
node_modules
# Mac OS annoying files
.DS_Store
# Temporary folder from html-proofer
tmp
# Temporary file from rollup
bundle.js
# Log files
*.log
# JavaScript third party vendors
assets/js/vendor
