/**
 * Helfer-Klasse um einen zu langen String, welcher nicht auf eine Zeile passt, 
 * abzuschneiden und eine Ellipse hinzuzufügen.
 * 1. Verhindert den Inhalt umzubrechen, und erzwingt ihn in eine Zeile.
 * 2. Fügt eine Ellipse ans Ende der Zeile hinzu.
 */
.ellipsis {
  white-space: nowrap; /* 1 */
  text-overflow: ellipsis; /* 2 */
  overflow: hidden;
}
