{::options parse_block_html="false" /}

<figure role="group">
  <img data-proofer-ignore 
    alt="{{ site.data[page.language].translations.images.color-functions | markdownify | strip_html }}"
    sizes="100vw"
    srcset="/assets/images/lighten-darken-mix_small.png  540w,
            /assets/images/lighten-darken-mix_medium.png 900w,
            /assets/images/lighten-darken-mix_large.png 1200w,
            /assets/images/lighten-darken-mix_huge.png  1590w">
  <figcaption>{{ site.data[page.language].translations.images.color-functions | markdownify | replace:"<p>","" | replace:"</p>","" }}</figcaption>
</figure>

{::options parse_block_html="true" /}
