
<figure role="group">
  <img alt="{{ site.data.translations[page.language].images.color-functions|markdownify }}"
     sizes="100vw"
     srcset="/assets/images/lighten-darken-mix_small.png  540w,
             /assets/images/lighten-darken-mix_medium.png 900w,
             /assets/images/lighten-darken-mix_large.png 1200w,
             /assets/images/lighten-darken-mix_huge.png  1590w" />
  <figcaption>{{ site.data.translations[page.language].images.color-functions|markdownify }}</figcaption>
</figure>
