{::options parse_block_html="false" /}

<figure role="group">
  <img data-proofer-ignore 
    alt="{{ site.data[page.language].translations.images.sassdoc | markdownify | strip_html }}"
    sizes="100vw"
    srcset="/assets/images/sassdoc-preview_small.png  540w,
            /assets/images/sassdoc-preview_medium.png 900w,
            /assets/images/sassdoc-preview_large.png 1200w,
            /assets/images/sassdoc-preview_huge.png  1590w">
  <figcaption>{{ site.data[page.language].translations.images.sassdoc | markdownify | replace:"<p>","" | replace:"</p>","" }}</figcaption>
</figure>

{::options parse_block_html="true" /}
