{::options parse_block_html="false" /}

<figure role="group">
  <picture>
    <source sizes="100vw" type="image/avif"
      srcset="/assets/images/sass-wallpaper_small.avif  540w,
              /assets/images/sass-wallpaper_medium.avif 900w,
              /assets/images/sass-wallpaper_large.avif 1200w,
              /assets/images/sass-wallpaper_huge.avif  1590w">
    <source sizes="100vw" type="image/webp"
      srcset="/assets/images/sass-wallpaper_small.webp  540w,
              /assets/images/sass-wallpaper_medium.webp 900w,
              /assets/images/sass-wallpaper_large.webp 1200w,
              /assets/images/sass-wallpaper_huge.webp  1590w">
    <img
      data-proofer-ignore
      loading="lazy"
      alt="{{ site.data[page.language].translations.image_wallpaper | markdownify | strip_html }}"
      sizes="100vw"
      srcset="/assets/images/sass-wallpaper_small.jpg  540w,
              /assets/images/sass-wallpaper_medium.jpg 900w,
              /assets/images/sass-wallpaper_large.jpg 1200w,
              /assets/images/sass-wallpaper_huge.jpg  1590w">
  </picture>

  <figcaption>{{ site.data[page.language].translations.image_wallpaper | markdownify | replace:"<p>","" | replace:"</p>","" }}</figcaption>
</figure>

{::options parse_block_html="true" /}
