/// Helfer-Mixing um `width` und `height` gleichzeitig zu definieren.
///
/// @author Hugo Giraudel
///
/// @access public
///
/// @param {Length} $width - `width` des Elements
/// @param {Length} $height ($width) - `height` des Elements
///
/// @example scss - Anwendung
///   .foo {
///     @include size(10em);
///   }
///
///   .bar {
///     @include size(100%, 10em);
///   }
///
/// @example css - CSS Ausgabe
///   .foo {
///     width: 10em;
///     height: 10em;
///   }
///
///   .bar {
///     width: 100%;
///     height: 10em;
///   }
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
