{% include_relative {{ include.path }}_author.md %}
{% include_relative {{ include.path }}_contributing.md %}
{% include_relative {{ include.path }}_toc.md %}

{% include_relative {{ include.path }}_sass.md %}
{% include_relative {{ include.path }}_introduction.md %}
{% include_relative {{ include.path }}_syntax.md %}

{% include donate.html %}

{% include_relative {{ include.path }}_naming.md %}
{% include_relative {{ include.path }}_comments.md %}
{% include_relative {{ include.path }}_architecture.md %}
{% include_relative {{ include.path }}_rwd.md %}

{% include donate.html %}

{% include_relative {{ include.path }}_variables.md %}
{% include_relative {{ include.path }}_extend.md %}
{% include_relative {{ include.path }}_mixins.md %}
{% include_relative {{ include.path }}_conditions.md %}

{% include donate.html %}

{% include_relative {{ include.path }}_loops.md %}
{% include_relative {{ include.path }}_errors.md %}
{% include_relative {{ include.path }}_tools.md %}
{% include_relative {{ include.path }}_tldr.md %}

{% include donate.html %}
