{% include_relative {{ include.path|default('') }}_author.md %}
{% include_relative {{ include.path|default('') }}_contributing.md %}
{% include_relative {{ include.path|default('') }}_toc.md %}

{% include_relative {{ include.path|default('') }}_sass.md %}
{% include_relative {{ include.path|default('') }}_introduction.md %}
{% include_relative {{ include.path|default('') }}_syntax.md %}

{% include donate.html %}

{% include_relative {{ include.path|default('') }}_naming.md %}
{% include_relative {{ include.path|default('') }}_comments.md %}
{% include_relative {{ include.path|default('') }}_architecture.md %}
{% include_relative {{ include.path|default('') }}_rwd.md %}

{% include donate.html %}

{% include_relative {{ include.path|default('') }}_variables.md %}
{% include_relative {{ include.path|default('') }}_extend.md %}
{% include_relative {{ include.path|default('') }}_mixins.md %}
{% include_relative {{ include.path|default('') }}_conditions.md %}

{% include donate.html %}

{% include_relative {{ include.path|default('') }}_loops.md %}
{% include_relative {{ include.path|default('') }}_errors.md %}
{% include_relative {{ include.path|default('') }}_tools.md %}
{% include_relative {{ include.path|default('') }}_tldr.md %}

{% include donate.html %}
