<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">

  <style>
  {% include critical.css %}{% for language in site.data.translations %}{% if language[1].note != "" %}:lang({{ language[0] }}) .note>p:first-child::before{content:"{{ language[1].note }} — "}{% endif %}{% endfor %}
  </style>

  <script>
  {% include utilities.js %}
  </script>

  <script>
  var ua = window.navigator.userAgent,
      ttf = ua.indexOf('Android 4.') > -1 && ua.indexOf('like Gecko') > -1 && ua.indexOf('Chrome') === -1;

  loadCSS('/css/full.css');
  loadCSS('/css/fonts/data-' + (supportsWoff2 ? 'woff2' : (ttf ? 'ttf' : 'woff')) + '.css');
  </script>

  <noscript>
    <link rel="stylesheet" href="{{ '/css/full.css' | prepend: site.baseurl }}">
  </noscript>

  <script>document.createElement('picture')</script>

  <script src="{{ '/assets/js/picturefill.min.js' | prepend: site.baseurl }}" async></script>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
