<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">

  <style>
  {% include critical.css %}
  </style>

  <script>function loadCSS(e,t,n,r){"use strict";function u(){var t;for(var r=0;r<o.length;r++){if(o[r].href&&o[r].href.indexOf(e)>-1){t=true}}if(t){i.media=n||"all"}else{setTimeout(u)}}var i=window.document.createElement("link");var s=t||window.document.getElementsByTagName("script")[0];var o=window.document.styleSheets;i.rel="stylesheet";i.href=e;i.media="only x";i.onload=r||function(){};s.parentNode.insertBefore(i,s);u();return i}</script>
  <script>
    loadCSS('{{ "/css/full.css" | prepend: site.baseurl }}');
  </script>
  <noscript>
    <link rel="stylesheet" href="{{ '/css/full.css' | prepend: site.baseurl }}">
  </noscript>

  <script>document.createElement('picture')</script>

  <script src="{{ '/assets/js/picturefill.min.js' | prepend: site.baseurl }}" async></script>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Thanks to Sass-lang.com for the icon -->
  <link href="http://sass-lang.com/assets/img/ico/favicon-0ccd2d9d.png" rel="shortcut icon">

  <style>
  {% for language in site.data.translations %}{% if language[1].note != "" %}:lang({{ language[0] }}) .note > p:first-child::before { content: "{{ language[1].note }} — "; }
  {% endif %}{% endfor %}
  </style>
</head>
