/**
 * Quotes
 */
blockquote {
  margin: 0 0 $vertical-rhythm-baseline;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: $quote-background;
  font-style: italic;

  /**
   * Prevent any odd gap from nested elements' margin
   */
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
