/**
 * Buttons
 * 1. Full width buttons on small screens
 */
.button {
  margin: 0 1rem $vertical-rhythm-baseline;
  display: block; /* 1 */
  padding: 1rem;
  border: 3px solid;
  border-radius: 1337px;
  color: $secondary-color;
  text-align: center;
  text-decoration: none;

  @include on-event {
    color: $main-color;
  }

  /**
   * Inlined buttons on large screens
   */
  @include respond-to('medium') {
    display: inline-block;
  }

  /**
   * Icons within buttons
   * 1. Make them same color as text
   * 2. Adjust vertical align
   */
  svg {
    fill: currentcolor; /* 1 */
    -webkit-transform: translateY(1px); /* 2 */
    -ms-transform: translateY(1px); /* 2 */
    transform: translateY(1px); /* 2 */
  }
}

/**
 * Button wrapper to horizontally center a button
 */
.button-wrapper {
  padding: 1rem 0;
  text-align: center;
}

/**
 * UI specific buttons
 */
.button-ui {
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  border: 3px solid;
  border-radius: 1337px;
  background-color: white;
  color: rgb(204, 204, 204);
  font-size: 0.8em;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  z-index: 5;

  @include respond-to('medium') {
    background-color: transparent;
  }

  /**
   * Icon inside UI button
   */
  svg {
    display: block;
    margin: 0 auto;
    fill: currentcolor;
  }

  @include on-event {
    color: $secondary-color;
  }
}

/**
 * Button to get back to top of the page
 * 1. Fix it on large screens
 */
.button-ui--back {
  position: fixed; /* 1 */
  right: 0;
  bottom: 50px;
  left: auto;
}

/**
 * Button to open options panel
 * 1. Fix it on large screens
 */
.button-ui--toggle {
  position: fixed; /* 1 */
  right: 0;
  bottom: 0;
  left: auto;
}
