/**
 * Donate blocks
 */
.donate {
  margin-bottom: $vertical-rhythm-baseline;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $donate-background;
  text-align: center;

  @include respond-to('medium') {
    padding: 1rem;
  }
}

/**
 * Donate module inner wrapper
 */
.donate__content {
  @include container;
}

/**
 * Button from donate module
 */
.donate .button {
  background-color: rgb(255, 255, 255);
  margin-left: 0;
  margin-right: 0;
}
