{% assign id = include.id | default: "options-panel" %}

<aside class="aside" id="{{ id }}" aria-labelledby="aside-title">
  <div class="aside__overlay" data-a11y-dialog-hide></div>
  <div class="aside__content" role="document">
    <h2 class="aside__title" id="aside-title">
      {{ site.data[page.language].translations.aside_title }}
    </h2>

    <section class="aside__section  aside__section--extras">
      {% assign button_report_text = site.data[page.language].translations.aside_report %}
      {% include partials/button.html
        target = "_blank"
        href = "https://github.com/KittyGiraudel/sass-guidelines/issues"
        content = button_report_text
      %}

      {% assign button_donate_text = site.data[page.language].translations.aside_donate %}
      {% include partials/button_donate.html
        text = button_donate_text
      %}

      {% assign button_tweet_text = site.data[page.language].translations.aside_tweet %}
      {% include partials/button_tweet.html
        text = button_tweet_text
      %}
    </section>

    <section class="aside__section  aside__section--syntax js-powered">
      {% assign legend = site.data[page.language].translations.aside_syntax %}
      {% include partials/syntax_picker.html legend = legend %}
    </section>

    <section class="aside__section  aside__section--language">
      <label for="language-picker" class="aside__heading">
        {{ site.data[page.language].translations.aside_language }}
      </label>

      {% include partials/language_picker.html id = "language-picker" %}
    </section>

    {% include partials/aside_closer.html %}
  </div>
</aside>
