{% assign name = "syntax" %}

<fieldset>
  <legend class="aside__heading">{{ include.legend }}</legend>
  <ul class="aside__radio-list">
    <li>
      <div class="button">
        <input type="radio" name="{{ name }}" id="syntax-toggle-sass" value="sass" />
        <label for="syntax-toggle-sass">Sass</label>
      </div>
    </li>
    <li>
      <div class="button">
        <input type="radio" name="{{ name }}" id="syntax-toggle-scss" value="scss" checked />
        <label for="syntax-toggle-scss">SCSS</label>
      </div>
    </li>
  </ul>
</fieldset>
