/**
 * Aside options panel accessibility wrapper
 */
.aside[aria-hidden='true'] {
  display: none;
}

/**
 * Aside options panel
 * 1. Fixed offscreen
 * 2. Full width on small screens
 */
.aside__content {
  position: fixed; /* 1 */
  top: 0; /* 1 */
  right: 0; /* 1 */
  bottom: 0; /* 1 */
  z-index: 30;
  width: 100%; /* 2 */
  background-color: rgb(255, 255, 255);

  /**
   * Fixed width on large screens
   */
  @include respond-to('medium') {
    width: $sidebar-width;
  }
}

.aside__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 20;
}

/**
 * Buttons from options panel
 */
.aside .button {
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

/**
 * Sub-sections from options panel
 */
.aside__section {
  padding: 0 1rem;
}

/**
 * Hide JavaScript-powered elements when there is no JS in the page
 */
.no-js .custom-select,
.no-js .aside__section--syntax {
  display: none;
}

/**
 * Main title from options panel
 */
.aside__title {
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: $light-pink;
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  text-transform: uppercase;
}

/**
 * Headings from options panel
 */
.aside__heading {
  margin: 1rem 0;
  padding: 0.5rem 0;
  border-bottom: 0.1em solid;
  text-transform: capitalize;
  font-size: 0.9em;
  color: $dark-grey;
  text-align: end;
  font-weight: 400;
}

/**
 * Remove top margin from first heading
 */
.aside__title + .aside__heading {
  margin-top: 0;
}

/**
 * Toggle button from options panel
 * 1. Vertical alignment inside aside header
 * 2. Enlarging without positioning issues
 */
.aside__toggle {
  position: absolute;
  top: 0.4em; /* 1 */
  right: 0.5em;
  color: rgb(255, 255, 255);
  border: 0;
  background-color: transparent;
  transform: scale(1.25); /* 2 */
}

/**
 * Sass/SCSS radio list
 * 1. Reset default list styles
 * 2. Cancel padding from list items
 * 3. Clear inner floats
 */
.aside__radio-list {
  list-style: none; /* 1 */
  padding: 0; /* 1 */
  margin: -0.5rem; /* 2 */
  overflow: hidden; /* 3 */

  label {
    display: inline-block;
    cursor: pointer;
  }

  /**
   * Visual fix for input placement
   */
  input {
    -webkit-transform: translate(-1px, -1px);
    -ms-transform: translate(-1px, -1px);
    transform: translate(-1px, -1px);
  }

  /**
   * Items are positioned on the same line, half width each
   */
  li {
    margin: 0;
    float: left;
    width: 50%;
    padding: 0 0.5rem;
  }
}

/**
 * Aside options panel when opened
 * 1. Not off-canvas anymore
 * 2. Make it scrollable if needed
 */
#aside-toggle:checked ~ .aside {
  -webkit-transform: translateX(0); /* 1 */
  -ms-transform: translateX(0); /* 1 */
  transform: translateX(0); /* 1 */
  overflow: auto; /* 2 */
  box-shadow: -0.3em 0 .25em rgba(0, 0, 0, 0.1);
}

/**
 * Move the toggle button in the options panel
 */
#aside-toggle:checked ~ .aside .aside__toggle {
  left: 0;
}
