/**
 * Header
 */
.header {
  background: $main-color;
  text-align: center;
  color: rgb(255, 255, 255);
  overflow: hidden;
  padding: 1.5rem 0;
  border-bottom: 0.5em solid darken($secondary-color, 5%);
}

/**
 * Main title
 */
.title {
  margin: 0;
  max-width: none;
  font-size: 6em;

  // Long shadow
  $shadows: ();
  @for $i from 1 through 120 {
    $shadows: append($shadows, ($i * 1px) ($i * 1px) darken($secondary-color, 5%), comma);
  }
  text-shadow: $shadows;

  @media (max-width: 600px) {
    font-size: 3em;
  }
}

/**
 * Site Baseline
 */
.baseline {
  @include container;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2em;
  text-transform: initial;
  color: $main-color;

  @include respond-to('medium') {
    font-size: 2.5em;
  }

  @include respond-to('large') {
    max-width: $main-width;
  }
}
