
/**
 * Main container
 * 1. Position context for absolutely positioned .toc
 * 2. Leave some room for table of contents on large screens
 */
.main {
  position: relative; /* 1 */
  max-width: $main-width;
  margin: 0 auto;

  @include respond-to('large') {
    padding-left: $sidebar-width; /* 2 */
  }
}

.container {
  @include container;
}
