/**
 * The Table of Contents is absolutely position/fixed only on large screens
 */
@include respond-to('large') {
  /**
   * ToC container
   * 1. Absolutely positioned on the top left corner of main container
   */
  .toc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute; /* 1 */
    top: 0; /* 1 */
    left: 0; /* 1 */
    bottom: 0; /* 1 */
    width: $sidebar-width;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 0.8em;
    opacity: 0.4;
    background-color: rgb(255, 255, 255);
    transition: opacity 5s ease-in-out;
  }

  /**
   * Direct list when ToC is sticky
   * 1. Fixed to stay in the screen even when page is scrolled
   */
  .toc.sticky > ul {
    position: fixed; /* 1 */
    top: 0; /* 1 */
    bottom: 0; /* 1 */
    overflow-x: hidden;
    overflow-y: auto;
  }

  /**
   * 1. Hardware acceleration hack
   */
  .toc.sticky:hover {
    opacity: 0.999999; /* 1 */
    transition: opacity 0.3s ease-out;
  }

  /**
   * Prevent the list from disappearing beneath the footer when at the bottom
   * of the page
   */
  .toc.sticky-bottom > ul {
    margin-bottom: 140px;
    bottom: 25px;
  }

  /**
   * Hide link to ToC
   */
  .toc > ul > li:nth-of-type(3) {
    display: none;
  }

  .toc > ul {
    margin: 0;
    padding: 15px 10px;
  }

  .toc ul {
    list-style: none;
  }

  .toc ul ul {
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    color: rgb(102, 102, 102);
  }

  .toc > ul > li {
    border-bottom: 1px double rgb(239, 239, 239);
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  /**
   * Remove bottom border from last item from ToC
   */
  .toc > ul > li:last-of-type {
    border-bottom: 0;
  }

  /**
   * Remove underline from links in ToC
   */
  .toc a {
    text-decoration: none;
  }

  /**
   * Highlight current section in ToC
   */
  .toc .in-viewport {
    color: $light-pink;
  }

  /**
   * Hide ToC title on large screens, only displayed on small screens
   */
  .toc h1 {
    display: none;
  }
}
