/// Vertical rhythm baseline
/// @type Length
$vertical-rhythm-baseline: 1.5rem;

/// Regular font stack
/// @type List
$text-font-stack: "Droid Sans", "Helvetica", "Arial", sans-serif;

/// Code font stack
/// @type List
$code-font-stack: "Source Code Pro", "Courier New", monospace;

/// Light grey
/// @type Color
$light-grey: #dadbdf;

/// Dark grey
/// @type Color
$dark-grey: #444;

/// Light pink
/// @type Color
$light-pink: #c69;

/// Dark pink
/// @type Color
$dark-pink: #b37399;

/// Light yellow
/// @type Color
$light-yellow: #f2ece4;

/// Light green
/// @type Color
$light-green: #d2e1dd;

/// Main color
/// @type Color
/// @require $light-pink
$main-color: $light-pink;

/// Secondary color
/// @type Color
/// @require $dark-pink
$secondary-color: $dark-pink;

/// Note background
/// @type Color
/// @require $light-grey
$note-background: $light-grey;

/// Quote background
/// @type Color
/// @require $light-green
$quote-background: $light-green;

/// Code background
/// @type Color
/// @require $dark-grey
$code-background: $dark-grey;

/// Donate background
/// @type Color
/// @require $light-yellow
$donate-background: $light-yellow;

/// Figure background
/// @type Color
/// @require $light-yellow
$figure-background: $light-grey;

/// Breakpoints
/// @type Map
$breakpoints: (
  'medium': 801px
);
