/// Vertical rhythm baseline
/// @type Length
$vertical-rhythm-baseline: 1.5rem;

/// Main color
/// @type Color
$main-color: #c69;

/// Secondary color
/// @type Color
$secondary-color: #b37399;

/// Code background
/// @type Color
$dark-background: #444;

/// Code background
/// @type Color
$medium-background: #dadbdf;