/// Vertical rhythm baseline
/// @type Length
$vertical-rhythm-baseline: 1.5rem;

/// Main color
/// @type Color
$main-color: #c69;

/// Secondary color
/// @type Color
$secondary-color: #b37399;

/// Light grey
/// @type Color
$light-grey: #dadbdf;

/// Code background
/// @type Color
$dark-background: #444;

/// Code background
/// @type Color
$medium-background: $light-grey;

/// Regular font stack
/// @type List
$text-font-stack: "Droid Sans", "Helvetica", "Arial", sans-serif;

/// Code font stack
/// @type List
$code-font-stack: "Source Code Pro", "Courier New", monospace;
