{::options parse_block_html="true" /}

<section id="chapter-author" class="chapter chapter--author">
  {% include_relative _author.md %}
  {% include partials/twitter.html %}
</section>

<section id="chapter-contributing" class="chapter chapter--contributing">
  {% include_relative _contributing.md %}
  {% include partials/contributing.html %}
</section>

<nav class="chapter toc" aria-label="Document" id="chapter-toc chapter--toc">
  {% include_relative _toc.md %}
</nav>

<section id="chapter-sass" class="chapter chapter--sass">
  {% include_relative _sass.md %}
</section>

<section id="chapter-introduction" class="chapter chapter--introduction">
  {% include_relative _introduction.md %}
</section>

<section id="chapter-syntax" class="chapter chapter--syntax">
  {% include_relative _syntax.md %}
</section>

{% include partials/donate.html %}

<section id="chapter-naming" class="chapter chapter--naming">
  {% include_relative _naming.md %}
</section>

<section id="chapter-comments" class="chapter chapter--comments">
  {% include_relative _comments.md %}
</section>

<section id="chapter-architecture" class="chapter chapter--architecture">
  {% include_relative _architecture.md %}
</section>

<section id="chapter-rwd" class="chapter chapter--rwd">
  {% include_relative _rwd.md %}
</section>


{% include partials/donate.html %}

<section id="chapter-variables" class="chapter chapter--variables">
  {% include_relative _variables.md %}
</section>

<section id="chapter-extend" class="chapter chapter--extend">
  {% include_relative _extend.md %}
</section>

<section id="chapter-mixins" class="chapter chapter--mixins">
  {% include_relative _mixins.md %}
</section>

<section id="chapter-conditions" class="chapter chapter--conditions">
  {% include_relative _conditions.md %}
</section>

{% include partials/donate.html %}

<section id="chapter-loops" class="chapter chapter--loops">
  {% include_relative _loops.md %}
</section>

<section id="chapter-errors" class="chapter chapter--errors">
  {% include_relative _errors.md %}
</section>

<section id="chapter-tools" class="chapter chapter--tools">
  {% include_relative _tools.md %}
</section>

<section id="chapter-tldr" class="chapter chapter--tldr">
  {% include_relative _tldr.md %}
</section>

{% include partials/donate.html %}

{::options parse_block_html="false" /}
