<!-- Main JavaScript file, bundled by Netlify -->
<script defer src="/assets/js/vendor/bling.js"></script>
<script defer src="/assets/js/vendor/a11y-dialog.js"></script>
<script defer src="/assets/js/src/helpers.js"></script>
<script defer src="/assets/js/src/sidebar.js"></script>
<script defer src="/assets/js/src/app.js"></script>

{% if site.environment == 'production' %}
<!-- Google Analytics tracking -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
