/**
 * Quotes
 */
blockquote {
  @include vertical-rhythm;
  @include expand;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: $quote-background;
  font-style: italic;

  /**
   * Prevent any odd gap from nested elements' margin
   */
  > * {
    margin: 0;
  }
}
