/**
 * Buttons
 */
.button {
  @include vertical-rhythm;
  padding: 1em;
  border: .25em solid;
  color: $secondary-color;
  display: block;
  border-radius: .3em;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;

  @include on-event {
    color: $main-color;
  }

  @include respond-to("medium") {
    display: inline-block;
  }
}

.button-wrapper {
  text-align: center;
  padding: 1em 0;
}

.button-ui {
  display: block;
  cursor: pointer;
  margin: 1em;
  padding: .5em;
  font-size: .8em;
  border-radius: .35em;
  color: mix($light-grey, black, 90%);
  border: .25em solid;
  background: white;
  text-align: center;
  font-weight: 400;

  @include respond-to('medium') {
    position: fixed;
  }

  &:hover {
    color: $secondary-color;
  }
}

/**
 * Button to get back to top of the page
 */
.button-ui--back {
  right: 0;
  bottom: 0;
}

/**
 * Button to change syntax
 */
.button-ui--syntax {
  display: block;
  right: 4em;
  bottom: 0;

  &::after {
    content: ': SCSS';
  }

  #syntax-toggle:checked + &::after {
    content: ': Sass';
  }
}
