/**
 * Donate blocks
 */
.donate {
  @include vertical-rhythm;
  background: $donate-background;
  text-align: center;
  border: 1px solid rgba(black, 0.1);
  padding: 1rem 0;

  .button {
    background: white;
    margin-left: 0;
    margin-right: 0;
  }

  @include respond-to('medium') {
    padding: 1rem;
  }
}

.donate__content {
  @include container;
}
