/**
 * Images
 */
figure {
  @include expand;
  background: $figure-background;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  border: 1px solid rgba(black, 0.1);
}

figure img {
  display: block;
  height: auto;
  max-width: 100%;
  max-height: 80vh;
  margin-bottom: 1rem;
}

figcaption {
  text-align: center;
  font-size: .8em;
  font-style: italic;
}
