/**
 * Images
 */
figure {
  background: $figure-background;
  margin: 0;
  padding: 2em;
}

figure img {
  display: block;
  height: auto;
}

figcaption {
  text-align: center;
  font-size: .8em;
  font-style: italic;
}
