/**
 * Images
 */
figure {
  @include expand;
  background: $figure-background;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/**
 * Prevent image from being taller than (or even as tall as) viewport
 */
figure img {
  display: block;
  height: auto;
  max-width: 100%;
  max-height: 80vh; /* 1 */
  margin: 0 auto 1rem;
}

figcaption {
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}
