/**
 * Notes
 */
.note {
  @include vertical-rhythm;
  background: $note-background;
  padding: 2rem;
  border: 1px solid rgba(black, 0.1);
  border-left: 0;
  border-right: 0;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  > p:first-child::before {
    font-weight: 700;
  }
}
