/**
 * Notes
 */
.note {
  @include vertical-rhythm;
  background: $note-background;
  padding: 2em;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  > p:first-child::before {
    font-weight: 700;
  }
}

$languages: (
  'cz': '',
  'da': '',
  'nl': '',
  'en': 'Note',
  'fr': 'Note',
  'de': '',
  'gr': '',
  'it': '',
  'pl': 'Uwaga',
  'pr': '',
  'ru': 'Заметка',
  'sp': '',
);

@each $language, $translation in $languages {
  @if str-length($translation) > 0 {
    :lang(#{$language}) .note > p:first-child::before {
      content: quote($translation + " — ");
    }
  }
}
