/**
 * Dual code blocks
 * SCSS is default, Sass is hidden
 */
body.scss {
  [data-syntax="sass"] {
    display: none;
  }

  [data-syntax="scss"] {
    display: block;
  }
}

body.sass {
  [data-syntax="scss"] {
    display: none;
  }

  [data-syntax="sass"] {
    display: block;
  }
}

