/**
 * Dual code blocks
 * SCSS is default, Sass is hidden
 */
.code-block {
  > [data-syntax="sass"] {
    display: none;
  }

  > [data-syntax="scss"] {
    display: block;
  }
}

/**
 * Syntax toggle checkbox
 * 1. Prevent the page from jumping
 */
#syntax-toggle {
  @include respond-to('medium') {
    position: fixed; /* 1 */
  }

  &:checked ~ .code-block > [data-syntax="sass"] {
    display: block;
  }

  &:checked ~ .code-block > [data-syntax="scss"] {
    display: none;
  }
}

