.translation-warning {
  margin: 0;
  @include vertical-rhythm;
  background: $quote-background;
  padding: 1rem;
  font-size: 1.2em;
}

.translation-warning > p {
  @include container;
  @include beautify-links($quote-background);
}
