.translation-warning {
  @include vertical-rhythm;
  margin: 0;
  background: $quote-background;
  padding: 1rem 0;
  font-size: 1.2em;

  @include respond-to('medium') {
    padding: 1rem;
  }
}

.translation-warning__inner {
  @include container;

  @include respond-to('large') {
    max-width: $main-width;
  }
}
