---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.language }}" class="no-js" dir="{{ page.direction|lower }}" manifest="/offline.appcache">

  {% include head.html %}

  <body id="top">
    <a id="skip" href="#main">Skip to main content</a>

    <input type="checkbox" id="aside-toggle" name="aside-toggle" class="checkbox-hack" />

    {% include icons.svg %}
    {% include header.html %}

    <h2 class="baseline">{{ site.data.translations[page.language].baseline.content }}</h2>

    {% include translation-warning.html %}

    <main class="main" aria-label="Content" id="main">
      <div class="container" id="content">
        {{ content }}
      </div>
    </main>

    {% include aside.html %}

    <a href="#top" class="button-ui  button-ui--back">
      {% include icons/up.html %}
      <span class="visually-hidden">Get back to top</span>
    </a>

    {% include footer.html %}
    {% include scripts.html %}
  </body>

</html>
