---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.language }}" dir="{{ page.direction|lower }}" class="no-js">

{% include layout/head.html %}

<body id="top">
  <!-- SVG sprite -->
  {% include sprite.svg %}

  <!-- Accessibility skip link -->
  {% include partials/skip_link.html id = "skip" %}

  <!-- Site header -->
  {% include partials/header.html %}

  <!-- Translation banner -->
  {% include partials/translation_warning.html %}

  <!-- Button to toggle the options panel -->
  {% include partials/aside_opener.html %}

  <!-- Main container -->
  <main class="main" aria-label="Content" id="main-content">
    <div class="container">
      {{ content }}
    </div>
  </main>

  <!-- Link to get back to top -->
  {% include partials/top_link.html %}

  <!-- Site footer -->
  {% include partials/footer.html %}

  <!-- Options panel -->
  {% include partials/aside.html %}

  <!-- Scripts -->
  {% include layout/scripts.html %}
</body>

</html>
