.aside {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  @include prefix(transform, translateX(-100%), webkit ms);
  background: white;
  box-shadow: 0.3em 0 .25em rgba(black, 0.1);
  transition: .15s cubic-bezier(.32, 1, .53, .8);

  @include when-inside('.open') {
    @include prefix(transform, translateX(0), webkit ms);
    overflow: auto;
  }

  @include respond-to('medium') {
    width: 250px;
    @include prefix(transform, translateX(-250px), webkit ms);
  }

  .button {
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
  }
}

.aside__title {
  background: $light-pink;
  padding: 0.5rem;
  color: white;
  font-size: 1.25em;
  margin: 0;
  text-transform: uppercase;
}

.aside__heading {
  margin: 1rem 0;
  border-bottom: .1em solid;
  text-transform: capitalize;
  font-size: .9em;
  padding: 0.5rem 0.75rem;
  color: $dark-grey;
  text-align: right;
  font-weight: 400;

  .aside__title + & {
    margin-top: 0;
  }
}

.aside__toggle {
  position: absolute;
  background: white;
  bottom: 0;
  right: -4.5em;

  @include when-inside('.open') {
    right: 0;
  }

  @include respond-to('medium') {
    background: transparent;
  }
}

.aside__radio-list {
  list-style: none;
  overflow: hidden;
  margin: -0.5rem 0;
  padding: 0;

  label {
    display: inline-block;
    cursor: pointer;
  }

  input {
    @include prefix(transform, translate(-1px, -1px), webkit moz);
  }

  li {
    margin: 0;
    float: left;
    width: 50%;
  }
}
