/**
 * Footer
 */
.footer {
  padding: 1rem;
  margin-top: 2rem;
  background: $note-background;
  text-align: center;
}

.footer__metadata {
  margin-bottom: 0 !important;
}

.footer__authors {
  font-size: 0.9em;
}
