/**
 * Header
 */
.header {
  background: $main-color;
  text-align: center;
  color: white;
  overflow: hidden;
  padding: 1.5rem 0;
  margin-bottom: 4.5rem;
  border-bottom: .5em solid darken($secondary-color, 5%);
}

/**
 * Main title
 */
.title {
  margin: 0;
  max-width: none;
  font-size: 6em;

  // Long shadow
  $shadows: ();
  @for $i from 1 through 120 {
    $shadows: append($shadows, ($i * 1px) ($i * 1px) darken($secondary-color, 5%), comma);
  }
  text-shadow: $shadows;

  @media (max-width: 600px) {
    font-size: 3em;
  }
}

/**
 * Baseline
 */
.baseline {
  font-size: 2em;
  text-transform: initial;
  color: $main-color;
  margin-bottom: 5rem;

  @include respond-to('medium') {
    font-size: 2.5em;
  }
}
