/**
 * Header
 */
.header {
  background: $main-color;
  text-align: center;
  color: white;
  overflow: hidden;
  padding: 2em 0;
  margin-bottom: 5rem;
  border-bottom: .5em solid darken($secondary-color, 5%);
}

/**
 * Main title
 */
.title {
  margin-top: 0;
  max-width: none;
  font-size: 6em;

  $shadows: ();
  @for $i from 1 through 200 {
    $shadows: append($shadows, ($i * 1px) ($i * 1px) darken($secondary-color, 5%), comma);
  }
  text-shadow: $shadows;

  @media (max-width: 600px) {
    font-size: 3em;
  }
}

/**
 * Baseline
 */
.baseline {
  font-size: 2.5em;
  text-transform: initial;
  color: $main-color;

  &::first-letter {
    text-transform: uppercase;
  }
}
