/**
 * Make all elements inherit from `html` box-sizing
 */
* {
  @include prefix(box-sizing, inherit, webkit moz);
}

/**
 * Redefine box-sizing on the root element
 */
html {
  @include prefix(box-sizing, border-box, webkit moz);
}

/**
 * Basic typography styles
 */
body {
  font: 1.125em/1.4 $text-font-stack;
  color: #333;
}


/**
 * Links
 */
a,
.link-like {
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
  transition: 0.15s;
  border: 0;
  padding: 0;
  background: 0;

   @include on-event {
    color: $main-color;
  }
}

/**
 * Inline code
 */
:not(pre) > code {
  color: #6b717f;
  font-family: $code-font-stack;
}
