html {
  @include prefix(box-sizing, border-box, webkit moz);
}

* {
  @include prefix(box-sizing, inherit, webkit moz);
}

body {
  font: 1.125em/1.4 $text-font-stack;
  color: #333;
}

a {
  text-decoration: none;
  color: $main-color;
  font-weight: 700;
  transition: .15s;

  @include on-event {
    color: $secondary-color;
  }
}

:not(pre) > code {
  color: #6b717f;
}
